<div class="content">
  <div class="container">
      <app-textbox [label]="'ชื่อเข้าใช้งาน'" [placeholder]="'ชื่อเข้าใช้งาน'"></app-textbox>
      <app-textbox [label]="'รหัสผ่าน'" [placeholder]="'รหัสผ่าน'"></app-textbox>
      <app-textbox [label]="'ชื่อ'" [placeholder]="'ชื่อ'"></app-textbox>
      <app-textbox [label]="'นามสกุล'" [placeholder]="'นามสกุล'"></app-textbox>
      <app-textbox [label]="'วันเกิด'" [placeholder]="'วันเกิด'"></app-textbox>
      <app-textbox [label]="'อายุ'" [placeholder]="'อายุ'"></app-textbox>
      <app-textbox [label]="'ที่อยู่'" [placeholder]="'ที่อยู่'"></app-textbox>
      <app-textbox [label]="'รายละเอียดเพิ่มเต็ม'" [placeholder]="'รายละเอียดเพิ่มเต็ม'"></app-textbox>

  </div>
    <!-- <div class="container layout">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="align-middle">สมัครสมาชิก</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-textbox [label]="'ชื่อเข้าใช้งาน'" [placeholder]="'ชื่อเข้าใช้งาน'"></app-textbox>
            </div>
            <div class="col-md-6">
                <app-textbox [label]="'รหัสผ่าน'" [placeholder]="'รหัสผ่าน'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-textbox [label]="'ชื่อ'" [placeholder]="'ชื่อ'"></app-textbox>
            </div>
            <div class="col-md-6">
                <app-textbox [label]="'นามสกุล'" [placeholder]="'นามสกุล'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-textbox [label]="'วันเกิด'" [placeholder]="'วันเกิด'"></app-textbox>
            </div>
            <div class="col-md-6">
                <app-textbox [label]="'อายุ'" [placeholder]="'อายุ'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-textbox [label]="'เบอร์มือถือ'" [placeholder]="'เบอร์มือถือ'"></app-textbox>
            </div>
            <div class="col-md-6">
                <app-textbox [label]="'อีเมล'" [placeholder]="'อีเมล'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-textbox [label]="'ที่อยู่'" [placeholder]="'ที่อยู่'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-textbox [label]="'รายละเอียดเพิ่มเต็ม'" [placeholder]="'รายละเอียดเพิ่มเต็ม'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-button class="btn-normal"></app-button>
            </div>
        </div>
    </div>-->
</div>
