<div class="content">
  <div class="container">
    <app-textbox [label]="'เบอร์โทรศัพท์'" [placeholder]="'เบอร์โทรศัพท์'"></app-textbox>
    <app-textbox [label]="'รหัสผ่าน'" [placeholder]="'รหัสผ่าน'"></app-textbox>
    <app-textbox [label]="'ชื่อ'" [placeholder]="'ชื่อ'"></app-textbox>
    <app-textbox [label]="'นามสกุล'" [placeholder]="'นามสกุล'"></app-textbox>
    <app-textbox [label]="'วันเกิด'" [placeholder]="'วันเกิด'"></app-textbox>
    <app-textbox [label]="'อายุ'" [placeholder]="'อายุ'"></app-textbox>
    <div class="row">
      <div class="col-md-12">
        <app-button class="btn-normal"></app-button>
      </div>
    </div>
  </div>
</div>
