# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/TestNgWebApp/dist
/TestNgWebApp/dist-server
/TestNgWebApp/tmp
/TestNgWebApp/out-tsc

# dependencies
/TestNgWebApp/node_modules

# IDEs and editors
/TestNgWebApp/.idea
/TestNgWebApp/.project
/TestNgWebApp/.classpath
/TestNgWebApp/.c9/
/TestNgWebApp/*.launch
/TestNgWebApp/.settings/
/TestNgWebApp/*.sublime-workspace

# IDE - VSCode
/TestNgWebApp/.vscode/*
/TestNgWebApp/!.vscode/settings.json
/TestNgWebApp/!.vscode/tasks.json
/TestNgWebApp/!.vscode/launch.json
/TestNgWebApp/!.vscode/extensions.json

# misc
/TestNgWebApp/.sass-cache
/TestNgWebApp/connect.lock
/TestNgWebApp/coverage
/TestNgWebApp/libpeerconnection.log
/TestNgWebApp/npm-debug.log
/TestNgWebApp/yarn-error.log
/TestNgWebApp/testem.log
/TestNgWebApp/typings

# e2e
/TestNgWebApp/e2e/*.js
/TestNgWebApp/e2e/*.map

# System Files
/TestNgWebApp/.DS_Store
/TestNgWebApp/Thumbs.db


# API ----------------------------------------------------------------------------------
/javaspringbootapi/HELP.md
/javaspringbootapi/target/
/javaspringbootapi/!.mvn/wrapper/maven-wrapper.jar

### STS ###
/javaspringbootapi/.apt_generated
/javaspringbootapi/.classpath
/javaspringbootapi/.factorypath
/javaspringbootapi/.project
/javaspringbootapi/.settings
/javaspringbootapi/.springBeans
/javaspringbootapi/.sts4-cache

### IntelliJ IDEA ###
/javaspringbootapi/.idea
/javaspringbootapi/*.iws
/javaspringbootapi/*.iml
/javaspringbootapi/*.ipr

### NetBeans ###
/javaspringbootapi/nbproject/private/
/javaspringbootapi/nbbuild/
/javaspringbootapi/dist/
/javaspringbootapi/nbdist/
/javaspringbootapi/.nb-gradle/
/javaspringbootapi/build/

### VS Code ###
/javaspringbootapi/.vscode/

