<div class="main" #mainBody>
  <div class="header" *ngIf="!isLogin">
    <h2>Scroll Down</h2>
    <button class="non-bg" (click)="gotoNewPage(1)">เข้าสู่ระบบ</button><label>|</label><button class="non-bg" (click)="gotoNewPage(2)">สมัครสมาชิก</button>
  </div>
  <div *ngIf="!isLogin" #navbar>
    <mat-toolbar class="them-color text-color-white">
        <span>Application Title</span>
        <span class="fill-remaining-space"></span>
        <span>Right Aligned Text</span>
    </mat-toolbar>
  </div>
  <div #tempHeader>

  </div>
  <div class="content-body" #contentBody>
    <router-outlet ></router-outlet>
  </div>
</div>


