
    <div class="header">
      <h2>5555</h2>
        <div class="menu-header">
            <button class="non-bg" (click)="gotoNewPage(1)"><i class="fa">&#xf090; </i> เข้าสู่ระบบ</button>
            <label>|</label>
            <button class="non-bg" (click)="gotoNewPage(2)"><i class="fa">&#xf2be; </i> สมัครสมาชิก</button>
            <label>|</label>
            <button class="non-bg" (click)="gotoNewPage(3)"><i class="fa">&#xf08b; </i> ออกจากระบบ</button>
        </div>
    </div>
    <div #navbar>
        <mat-toolbar class="them-color text-color-white">
            <span>{{center.getTitle}}</span>
            <span class="fill-remaining-space"></span>
            <span *ngIf="center.getFullName"><i class="fa">&#xf2be; </i> {{center.getFullName}}</span>
        </mat-toolbar>
    </div>
    <div class="content-body" #contentBody>
        <router-outlet></router-outlet>
    </div>

