<div class="content-login">
    <div class="container layout layout-login">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="align-middle">เข้าสู่ระบบ</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-textbox [(ngModel)]="userLogin.userName" [label]="'ชื่อเข้าใช้งาน'" [placeholder]="'ชื่อเข้าใช้งาน'"></app-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-password [(ngModel)]="userLogin.password" [label]="'รหัสผ่าน'" [placeholder]="'รหัสผ่าน'"></app-password>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <app-button [label]="'เข้าสู่ระบบ'" (click)="doLogin()"></app-button>
            </div>
        </div>
    </div>
</div>
